.continer {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
  border: 2px solid rgba(99, 87, 87, 0.636);
  box-shadow: 5px 10px #88888874;
  width: 280px;
  align-items: center;
}
body {
  background-color: rgb(172, 120, 221);
}
.headDiv {
  opacity: 0.6;
  font-size: larger;
  height: 5vh;
}
img {
  align-self: flex-end;
  border-radius: 80%;
  height: 150px;
  width: 150px;
}
.footerDiv {
  margin: 2%;
  margin-top: 50px;
}
h5 {
  font-size: x-large;
  margin: 0;
  margin-left: 25%;
}
.nav {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
li {
  padding: 15px 15px;
  display: block;
}
ul {
  padding: 0;
  margin: 0;
}

li:hover {
  background-color: rgba(151, 146, 156, 0.362);
  color: rgb(158, 100, 213);
}
